body {
    font-family: Arial, sans-serif;
    background: url("https://lh3.googleusercontent.com/vt3jBriOoi1wiUp-RaJEZ5WUpbcYp_YkyBtBnCKNxrHvGsrtcsCXIMGIoCTKXzf-smhWCwVQo_qucT-ukLyhC1_85ke3UApwYCxrTxYnMqZd161krHjI97kL7Bw-6We6fqjG0y1ELw=w1152-h604-no");
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#loginForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.error-message {
    color: red;
    display: block;
    margin-top: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}