    .card {
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    }
    
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0, 0, 0, .125);
        border-radius: 1rem;
    }
    
    .text-reset {
        --bs-text-opacity: 1;
        color: inherit!important;
    }
    
    a {
        color: #5465ff;
        text-decoration: none;
    }
    /* Styles for the button */
    
    .buttondetails {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border: 2px solid #3498db;
        border-radius: 5px;
        color: #fff;
        background-color: #3498db;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    /* Hover effect */
    
    .buttondetails:hover {
        background-color: #2980b9;
        color: #fff;
    }
    /* Active (pressed) state */
    
    .buttondetails:active {
        background-color: #1f618d;
        color: #fff;
    }